<ion-header>
  <ion-toolbar>
    <ion-searchbar type="text" debounce="500" (ionCancel)="clearSearch($event)" (ionClear)="clearSearch($event)" (ionChange)="getHeros($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" fullscreen>
  
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>Heros List</h3>
          <p style="font-size: 10px;">Last Update: 20/20/20.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-items-left ion-text-center" *ngFor="let item of HerosList">
        
          <ion-avatar text-center (click)="openHeroiDetail(item)">
            <img [src]="item.img" style="display: inline;" />
            <div class="ion-padding-bottom ion-text-uppercase ion-margin-bottom">
              {{item.heroi}}
            </div>
          </ion-avatar>
        
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>{{tab1Title}}</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="tab2">
        <ion-icon name="map"></ion-icon>
        <ion-label>{{tab2Title}}</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="tab3">
        <ion-icon name="map"></ion-icon>
        <ion-label>{{tab1Title}}</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>

