<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/hero-list"></ion-back-button>
    </ion-buttons>
    <div class="titleicon">
      <img [src]="herosinfo ? herosinfo.img : ''" />
    </div>
    <ion-title>
      {{ herosinfo ? herosinfo.heroi : '' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" fullscreen>

  <ion-grid>
    <ion-row>

      <ion-col>
        <!-- CARD HEROS -->
        <ion-card>
          <div class="header">
            <ion-item lines="none">
              <img slot="start" [src]="herosinfo ? herosinfo.img : ''"
                style="display: inline;border: 2px solid #fff;box-shadow: 0 0 5px gray;margin-top: 10px;" />
              <img slot="end" src='/assets/img/talent.png' />
            </ion-item>
          </div>

          <ion-card-header class="ion-text-center ion-text-uppercase">
            <ion-card-title>{{ herosinfo ? herosinfo.heroi : '' }}</ion-card-title>
            <ion-card-subtitle>Skills</ion-card-subtitle>
          </ion-card-header>

          <!-- COMPONENT HERO SKILL -->
          <app-hero-skill [skillhero]="skillhero"></app-hero-skill>
        
        </ion-card>

         <!-- SLIDES -->
        <ion-slides fullscreen>
          <!-- SLIDE HERO ATRIBUTES -->
          <ion-slide>
              <!-- COMPONENT HERO ATRIBUTES -->
              <app-hero-atributes [herosinfo]="herosinfo"></app-hero-atributes>
          </ion-slide>

          <ion-slide>
        
          </ion-slide>

          <ion-slide>
            <ion-card>
              <img [src]="herosinfo ? herosinfo.img : ''"
                style="display: inline;border: 2px solid #fff;box-shadow: 0 0 5px gray;" />
              <div class="card-title">San Francisco</div>
              <div class="card-subtitle">72 Listings</div>
            </ion-card>
          </ion-slide>

        </ion-slides>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>{{tab1Title}}</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="tab2">
        <ion-icon name="map"></ion-icon>
        <ion-label>{{tab2Title}}</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="tab3">
        <ion-icon name="map"></ion-icon>
        <ion-label>{{tab1Title}}</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>