ion-card-title{
    color: white;
    white-space: nowrap;
}
ion-label{
    font-size: 13px;
    white-space: nowrap;
    text-align: start !important;
}
.alignme{
    position:absolute;
    right:0 ;
}